.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
}
.title{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}


.middle{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
}
.title{

}

.productContainer{
  width: 100%;
  padding: 0px 20px;
}